<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzq.mapper.CurriculumMapper" >
  <resultMap id="BaseResultMap" type="com.zzq.pojo.Curriculum" >
    <id column="curriculum_ID" property="curriculumId" jdbcType="INTEGER" />
    <result column="curriculum_name" property="curriculumName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    curriculum_ID, curriculum_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zzq.pojo.CurriculumExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from curriculum
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from curriculum
    where curriculum_ID = #{curriculumId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from curriculum
    where curriculum_ID = #{curriculumId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zzq.pojo.CurriculumExample" >
    delete from curriculum
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzq.pojo.Curriculum" >
    insert into curriculum (curriculum_ID, curriculum_name)
    values (#{curriculumId,jdbcType=INTEGER}, #{curriculumName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zzq.pojo.Curriculum" >
    insert into curriculum
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="curriculumId != null" >
        curriculum_ID,
      </if>
      <if test="curriculumName != null" >
        curriculum_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="curriculumId != null" >
        #{curriculumId,jdbcType=INTEGER},
      </if>
      <if test="curriculumName != null" >
        #{curriculumName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzq.pojo.CurriculumExample" resultType="java.lang.Integer" >
    select count(*) from curriculum
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update curriculum
    <set >
      <if test="record.curriculumId != null" >
        curriculum_ID = #{record.curriculumId,jdbcType=INTEGER},
      </if>
      <if test="record.curriculumName != null" >
        curriculum_name = #{record.curriculumName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update curriculum
    set curriculum_ID = #{record.curriculumId,jdbcType=INTEGER},
      curriculum_name = #{record.curriculumName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzq.pojo.Curriculum" >
    update curriculum
    <set >
      <if test="curriculumName != null" >
        curriculum_name = #{curriculumName,jdbcType=VARCHAR},
      </if>
    </set>
    where curriculum_ID = #{curriculumId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzq.pojo.Curriculum" >
    update curriculum
    set curriculum_name = #{curriculumName,jdbcType=VARCHAR}
    where curriculum_ID = #{curriculumId,jdbcType=INTEGER}
  </update>
    <select id="selectCount" resultType="Integer">
        SELECT COUNT(*) FROM curriculum
    </select>

</mapper>