<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>*****</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
   
  </head>
  
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
          <input class="layui-input" placeholder="开始日" name="start" id="start">
          <input class="layui-input" placeholder="截止日" name="end" id="end">
          <input type="text" name="username"  placeholder="请输入用户名" autocomplete="off" class="layui-input">
          <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn" onclick="x_admin_show('增加学生','/student/addView')"><i class="layui-icon"></i>添加</button>
        <span class="x-right" style="line-height:40px">共有数据：[[${page.total}]]</span>
      </xblock>
      <table class="layui-table">
        <thead>
          <tr>
            <th>
              <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>ID</th>
            <th>姓名</th>
            <th>性别</th>
            <th>电话</th><TH>状态</TH>
            <th>学院</th>

        </thead>
        <tbody>
        <tr th:each="list : ${page.list}">
            <td>
              <div class="layui-unselect layui-form-checkbox" lay-skin="primary" th:attr="data-id=${list.stuId}"><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td th:text="${list.stuId}"></td>
            <td th:text="${list.name}"></td>
            <td th:text="${list.sex}==1?'男':'女'"></td>
            <td th:text="${list.phone}">113664000@qq.com</td>
            <td th:text="${list.status}==1?'在读':'离校'">超级管理员</td>
            <td th:text="${list.depart}"></td>
            <td class="td-status">
              <span class="layui-btn layui-btn-normal layui-btn-mini">已启用</span></td>
            <td class="td-manage">
              <a onclick="member_stop(this,'10001')" href="javascript:;"  title="启用">
                <i class="layui-icon">&#xe601;</i>
              </a>
              <a title="编辑"  th:onclick="|x_admin_show('编辑','/student/sel/${list.stuId}')|" href="javascript:;">
                <i class="layui-icon">&#xe642;</i>
              </a>
              <a title="删除" th:onclick="|member_del(this,'${list.stuId}')|" href="javascript:;">
                <i class="layui-icon">&#xe640;</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="page">
        <div>
            <a class="prev" th:if="${page.currentPage}>1" href="/student/list?currentPage=1">首页</a>
            <a class="prev" th:if="${page.currentPage}>1" th:href="'/student/list?currentPage='+(${page.currentPage}-1)">上一页</a>
            <span class="current">当前页:[[${page.currentPage}]]</span>
            <a class="next" th:if="${page.currentPage}<${page.total}" th:href="'/student/list?currentPage='+(${page.currentPage}+1)">下一页</a>
            <a class="next" th:if="${page.currentPage}<${page.total}" th:href="'/student/list?currentPage='+${page.totalPages}">尾页</a>
        </div>
      </div>

    </div>
    <script>
      layui.use('laydate', function(){
        var laydate = layui.laydate;
        
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });

       /*用户-停用*/
      function member_stop(obj,id){
          layer.confirm('确认要停用吗？',function(index){

              if($(obj).attr('title')=='启用'){

                //发异步把用户状态进行更改
                $(obj).attr('title','停用')
                $(obj).find('i').html('&#xe62f;');

                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!',{icon: 5,time:1000});

              }else{
                $(obj).attr('title','启用')
                $(obj).find('i').html('&#xe601;');

                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!',{icon: 5,time:1000});
              }
              
          });
      }

      /*用户-删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
              //发异步删除数据
              id={'ids[]':id}
              $.post("/student/del",id, function(data){
                  if(data==1)
                  { $(obj).parents("tr").remove();
                      layer.msg('删除失败!',{icon:1,time:1000});

                  }else{
                      layer.msg('已删除!',{icon:1,time:1000});
                      $(obj).parents("tr").remove();
                  }

              });
          });
      }



      function delAll (argument) {
          var ids = tableCheck.getData();
          alert(ids);
          ids={ids:ids}
          layer.confirm('确认要删除吗？'+ids,function(index){
              //捉到所有被选中的，发异步进行删除
               $.post("/student/del",ids, function(data){
                  if(data==='1')
                  { $(obj).parents("tr").remove();
                      layer.msg('删除失败!',{icon:1,time:1000});

                  }else{
                      layer.msg('删除成功', {icon: 1});
                      $(".layui-form-checked").not('.header').parents('tr').remove();
                  }

              });

          });

      }</script>
  </body>

</html>