<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="UTF-8">
    <title>欢迎页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    
  </head>
  
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
        <form class="layui-form layui-col-md12 x-so" action="/Score/select" >
            <select lay-filter="test" id="select" name="select" lay-verify="" lay-search>
                <option  selected>请选择查询方式</option>
                <option value="1">学生</option>
                <option value="2">课程</option>
                </select>
            <select name="city"  id="curr" lay-verify="" lay-search>
  </select>
    <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
      <table class="layui-table">
        <thead>
          <tr>
            <th>
              <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>姓名</th>
            <th>学生id</th>
            <th>课程id</th>
            <th>课程名</th>
            <th>成绩</th>
           </thead>
        <tbody>
          <tr th:each="list:${list}">
            <td>
              <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td th:text="${list.name}">1</td>
            <td th:text="${list.stuId}">超级管理员</td>
            <td th:text="${list.curriculumId}">会员列表，问题列表</td>
            <td th:text="${list.curriculmName}">具有至高无上的权利</td>
              <td th:text="${list.score}">具有至高无上的权利</td>
            <td class="td-status">
              <span class="layui-btn layui-btn-normal layui-btn-mini">已启用</span></td>
            <td class="td-manage">
              <a onclick="member_stop(this,'10001')" href="javascript:;"  title="启用">
                <i class="layui-icon">&#xe601;</i>
              </a>
              <a title="编辑"  onclick="x_admin_show('编辑','role-add.html')" href="javascript:;">
                <i class="layui-icon">&#xe642;</i>
              </a>
              <a title="删除" onclick="member_del(this,'要删除的id')" href="javascript:;">
                <i class="layui-icon">&#xe640;</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="page">
        <div>
          <a class="prev" href="">&lt;&lt;</a>
          <a class="num" href="">1</a>
          <span class="current">2</span>
          <a class="num" href="">3</a>
          <a class="num" href="">489</a>
          <a class="next" href="">&gt;&gt;</a>
        </div>
      </div>

    </div>


    <script>
        layui.use('form', function() {
            $ = layui.jquery;
            var form = layui.form
                , layer = layui.layer;
            //监听提交




                form.on('select(test)', function(data){
                    var checkText=$("#select option:selected").val();
                     if (checkText == 2) {
                    $.ajax({
                        timeout: 3000,
                       async: false,
                        type: "get",
                        url: "/curriculumid/list",
                        dataType: "json",
                        success: function (data) {
                            var root=   document.getElementById("curr");
                            for(var i=root.length;i>=0;i--){
                                root.remove(0);

                            }
                            for (var i = 0; i < data.length; i++) {
                                // $("#curr").append("<option value='"+data[i].curriculumId+"'>"+ data[i].curriculumName + "</option>");
                                var o = document.createElement("option");
                                o.setAttribute("value", data[i].curriculumId);
                                o.innerText = data[i].curriculumName;
                                root.appendChild(o);

                            }
                        }
                    });
                 ;}if(checkText == 1) {
                         $.ajax({
                             timeout: 3000,
                             async: false,
                             type: "get",
                             url: "/student/sel/json",
                             dataType: "json",
                             success: function (data) {
                                 var root=   document.getElementById("curr");
                                 for(var i=root.length;i>=0;i--){
                                     root.remove(0);

                                 }
                                 for (var i = 0; i < data.length; i++) {
                                     // $("#curr").append("<option value='"+data[i].curriculumId+"'>"+ data[i].curriculumName + "</option>");
                                     var o = document.createElement("option");
                                     o.setAttribute("value", data[i].stuId);
                                     o.innerText = data[i].name;
                                     root.appendChild(o);

                                 }
                             }
                         });
                     }
                    var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
                    form.render()
                });
 });

    </script>
  </body>

</html>