<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>****系统</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/font.css">
	<link rel="stylesheet" href="/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>

</head>
<body class="login-bg">
<div class="login">
        <div class="message">管理员登录</div>
        <div id="darkbannerwrap"></div>
        <form method="post" class="layui-form" action="log" >
            <input name="username" placeholder="用户名"    th:value="${username}"  type="text" lay-verify="required" class="layui-input" >
            <hr class="hr15">
            <input name="password" lay-verify="required"  th:value="${password}" placeholder="密码"  type="password" class="layui-input">
            <hr class="hr15">
            <span  th:text="${error}" style="color: red;size: A3"></span>
            <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
            <hr class="hr20" >
        </form>
    </div>

    <script>
        $(function  () {
            layui.use('form', function(){
              var form = layui.form;
                form.on('submit(log)', function(data){
                // alert(888)
                layer.msg(JSON.stringify(data.field),function(){
                   alert(data);

                });
                return false;
              });
            });
        })

        
    </script>
</body>
</html>