<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="UTF-8">
    <title>*****</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>

  </head>

  <body>
    <div class="x-body">
        <form class="layui-form" action="/teacher/add" method="post">
         <div class="layui-form-item">
             <INPUT TYPE="hidden" name="teaId" th:value="${tea.teaId}">
              <label for="L_username" class="layui-form-label">
                  <span class="x-red">*</span>姓名
              </label>
              <div class="layui-input-inline">
                  <input type="text" th:value="${tea.teaName}" id="L_username" name="teaName" required="" lay-verify="nikename"
                  autocomplete="off" class="layui-input">
              </div>
          </div>

            <div class="layui-form-item">
                <label for="L_username" class="layui-form-label">
                    <span class="x-red">*</span>账号
                </label>
                <div class="layui-input-inline">
                    <input type="text" th:value="${tea.account}" id="account" name="account" required="" lay-verify="nikename"
                           autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label for="L_username" class="layui-form-label">
                    <span class="x-red">*</span>密码
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="password" name="password" th:value="${tea.password}" required="" lay-verify="nikename"
                           autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label for="L_username" class="layui-form-label">
                    <span class="x-red">*</span>电话
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="teaTel" th:value="${tea.teaTel}" name="teaTel" required="" lay-verify="nikename"
                           autocomplete="off" class="layui-input">
                </div>
            </div>


            <div class="layui-form-item">
                <label for="L_username" class="layui-form-label">
                    <span class="x-red">*</span>公号
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="teaCard" th:value="${tea.teaCard}" name="teaCard" required="" lay-verify="nikename"
                           autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label for="L_username" class="layui-form-label">
                    <span class="x-red">*</span>院系
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="teaColl" name="teaColl" th:value="${tea.teaColl}" required="" lay-verify="nikename"
                           autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label for="L_username"  class="layui-form-label">
                    <span class="x-red">*</span>性别
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="teaSex" name="teaSex" th:value="${tea.teaSex}" required="" lay-verify="nikename"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
     <div class="layui-form-item">
         <button  class="layui-btn" lay-filter="add" lay-submit="">
         增加
         </button>
          </div>
      </form>
    </div>
    <script>
        layui.use('form', function() {

            $ = layui.jquery;
            var form = layui.form
                , layer = layui.layer;
            //监听提交

            form.on('submit(add)', function(data){

                $.ajax({
                    url: data.form.action,
                    type: data.form.method,
                    data: $(data.form).serialize(),
                    success: function (info) {
                        if (info == 200) {

                            layer.alert("增加成功", {icon: 6},function () {
                                // 获得frame索引
                                var index = parent.layer.getFrameIndex(window.name);
                                //关闭当前frame
                                parent.layer.close(index);
                                parent.location.reload();
                            });
                        }
                    }
                });
                //发异步，把数据提交给php
                return false;
            });

        });
    </script>
  </body>

</html>